#heading {
  font-size: 42px;
}

#operation-guides {
  list-style-type: none;
}

.operation {
  width: 15vh;
  height: 15vh;
}

.operation div {
  width: 10vh;
  height: 10vh;
}

.operation input {
  width: 12vh;
}

#back {
  z-index: 1;
  position: fixed;
  padding: 0.5vw;
  border-radius: 50%;
  right: 6vw;
  bottom: 6vh;
}

@media screen and (max-width: 600px) {
  .example {
    flex-flow: row nowrap;
    overflow-x: scroll;
  }
}
