#decades_links {
  width: 12vw;
}

.decades_link {
  color: black;
}

#decade_content span {
  white-space: pre-line;
}

@media screen and (max-width: 600px) {
  #decades_header {
    flex-direction: column;
  }

  #years_link {
    margin: 2vh 0;
  }

  #decades_title {
    width: 100%;
  }

  #decades_links {
    width: 100%;
  }

  #decades_content {
    margin-top: 3vh;
  }

  #decade_colors {
    margin: 5vh 0;
    gap: 2.5vh;
  }
}