.field {
  gap: 0.5vh;
  width: 15vw;
}

.valid::after, .invalid::after {
  position: absolute;
  right: 6px;
  font-size: 1.5rem;
}

.valid::after {
  content: "\2713";
  top: 6px;
  color: var(--bs-green);
}

.invalid::after {
  content: "\2715";
  top: 33px;
  color: var(--bs-red);
}

label {
  color: var(--bs-danger);
}

#remember_me {
  width: 15vw !important;
}

#remember_me input {
  transform: scale(1.5);
}

#remember_me label {
  color: black;
}

@media screen and (max-width: 600px) {
  .field {
    width: 80vw;
  }

  .valid::after, .invalid::after {
    margin-left: calc(80vw - 24px);
    font-size: 1.25rem;
  }
  
  #remember_me {
    width: 80vw !important;
  }
}
