#main #log_in, #main #sign_in, #main #restore {
  margin: 2.5vh 10vw;
  padding: 5vh 5vw;
}

#title {
  font-size: 44px;
  margin-bottom: 10vh;
}

#inputs {
  gap: 2.5vh;
  margin-bottom: 10vh;
}

#submit {
  font-size: 28px;
  width: 10vw;
}

#submit:hover {
  transform: scale(1.25);
  color: var(--bs-primary);
}

@media screen and (max-width: 600px) {
  #title {
    font-size: 32px;
    margin-bottom: 5vh;
  }

  #inputs {
    gap: 2.5vh;
    margin-bottom: 5vh;
  }

  #inputs div {
    font-size: 20px;
    width: 80vw;
  }

  #submit {
    font-size: 24px;
    width: 60vw;
  }
}
