.box {
  margin: 2.5vh 2.5vw;
  padding: 2.5vh 0 2.5vh 2.5vw;
  min-height: 74vh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media screen and (max-width: 600px) {
  .box {
    margin: 0 !important;
    flex-direction: column;
    align-items: center;
  }
}

.whitesmoke {
  background-color: whitesmoke;
}

input {
  background-color: whitesmoke;
}

.underlined {
  border: none;
  outline: none;
  border-bottom: 1px solid black;
}

.transition {
  transition: 0.5s;
}