#main {
  overflow-x: hidden; /*remove the horizontal scrolling*/
  background: linear-gradient(-45deg, #ff91bb, #ff8fd4, #68bbb8, #68b3bb);
  background-size: 400% 400%; /*we are emphasing the background, allowing us to show only a part of it considering an animation*/
  animation: gradient 20s ease infinite;
}

@keyframes gradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

@media screen and (min-width: 600px) {
  #main {
    height: 100vh;
    padding: 2.5vh 2.5vw;
  }
  #sidebar {
    height: 100vh;
    display: flex;
  }
}

@media screen and (max-width: 600px) {
  body {
    background-color: whitesmoke;
    flex-direction: column;
  }

  #main {
    width: 100vw;
    height: auto;
  }
}