#menu {
  background-color: white;
  height: 100vh;
}

#logo img {
  width: 3rem;
}

.href {
  width: auto;
  height: 5vh;
  color: black;
  padding: 0 2vw;
  border-left: 0.05vw solid black;
}

.href span {
  transition: 0.3s;
  text-transform: capitalize;
}

.href:hover {
  cursor: pointer;
  color: black;
}

.href:hover span {
  transform: scale(1.25) translateX(12%);
}

#menu_mobile {
  background-color: black;
  width: 100vw;
}

.row_href, .column_href, #times {
  width: auto;
  height: 5vh;
  color: white;
  padding: 0 5vw;
  display: flex;
  align-items: center;
  border-left: 0.05vw solid white;
  justify-content: space-between;
}

.row_href:first-child {
  border-left: none;
}

#column {
  left: 0;
  top: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  width: 100%;
}

.column_href {
  border-left: none;
}

.column_href span {
  text-decoration: capitalize;
}

#times {
  z-index: 2;
  border: none;
}
