#models_header {
  height: auto;
}

#models_content {
  margin-bottom: 10vh;
}

.model {
  margin-top: 2vh;
}

.model:nth-child(even) {
  flex-direction: row-reverse;
  text-align: right;
}

#video {
  width: 50%;
}

video {
  width: 100%;
}

@media screen and (max-width: 600px) {
  .model {
    margin-top: 3vh;
  }

  .model, .model:nth-child(even) {
    flex-direction: column;
    text-align: left;
  }

  #video {
    width: 100%;
  }
}
