#picker_title {
  font-size: 24px;
}

#picker_options {
  width: 10vw;
  font-size: 24px;
  padding: 1vh 0.25vw;
}

.picker_option {
  font-size: 20px;
  color: black;
}

#picked_color {
  width: 20vw;
  height: 20vw;
}

#invert_picked_color {
  font-size: 36px;
  background-color: rgba(0, 0, 0, 0);
}

#picked_color_models {
  width: 50vw;
  font-size: 20px;
}

#picked_color_models .active {
  font-size: 24px;
}

.picked_color_field {
  margin-right: 4vw;
}

.picked_color_field:last-child {
  margin-right: 0;
}

.picked_color_field input {
  width: 4vw;
}

.picker_chooser_gradient {
  height: 1.5vh;
  border-radius: 10%;
}

.picker_chooser_field span {
  font-size: 20px;
}

@media screen and (max-width: 600px) {
  #picker_header {
    flex-direction: column;
  }

  #picker_options {
    width: 100%;
  }

  #picker_representer {
    flex-direction: column-reverse;
  }

  #picked_color {
    width: 100%;
    height: 90vw;
  }

  #picked_color_models {
    width: 100%;
  }

  .picked_color_model {
    width: 100%;
    justify-content: flex-start !important;
    flex-wrap: wrap;
    margin-bottom: 3vh;
  }

  .picked_color_field {
    margin-right: 8vw;
    margin-bottom: 1vh;
  }

  .picked_color_field input {
    width: 14vw;
  }

  #picker_chooser {
    width: 100%;
    padding: 5vh 0 0 0;
  }
}
