#schemes_header {
  height: auto;
}

button {
  background-color: whitesmoke;
}

#add_button:hover, #remove_button:hover {
  transform: scale(1.25);
}

#saturation input {
  writing-mode: bt-lr;
  width: 0;
  -webkit-appearance: slider-vertical;
}

#saturation span {
  writing-mode: vertical-rl;
  text-orientation: upright;
}

#cursor_values {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  align-content: center;
}

.cursor-value {
  width: 10vw;
  height: 10vw;
}

#switch {
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  cursor: pointer;
  height: 10vh;
  border-radius: 10vh;
}

label:after {
  content: '';
  position: absolute;
  top: 0.8vh;
  left: 0.8vh;
  width: 8.4vh;
  height: 8.4vh;
  background: white;
  border-radius: 8.4vh;
  transition: 0.7s;
}

input:checked + label:after {
  left: calc(100% - 0.8vh);
  transform: translateX(-100%);
  background: black;
}

label:active:after {
  width: 12vh;
}

@media screen and (max-width: 600px) {
  #schemes_options {
    width: 100%;
  }

  #canvas_container_white, #canvas_container_black {
    touch-action: none;
  }

  .cursor-value {
    width: 25vw;
    height: 25vw;
  }
}
