#years_colors {
  gap: 1vw;
}

#years_colors .color {
  width: 10.5vw;
  height: 10.5vw;
  border-radius: 5%;
}

#years_colors .color .color-info {
  max-width: 10.5vw;
}

@media screen and (max-width: 600px) {
  #years {
    margin: 0;
  }

  #years_header {
    flex-direction: column;
  }

  #years_colors {
    gap: 2.5vh;
  }

  #years_colors .color {
    width: 40vw;
    height: 40vw;
  }

  #years_colors .color .color-info {
    max-width: 40vw;
  }
}
