<form id="log_in" class="d-flex flex-column justify-content-between align-items-center text-center" (submit)="sendForm()">
  <span id="title">Log in</span>
  <div id="inputs" class="d-flex flex-column">
    <app-field
      name="email"
      placeholder="Your email"
      autocomplete="username"
      [value]="email"
      redirect="sign_up"
      redirectText="Don't have an account?"
      (onChanged)="setField($event)">
    </app-field>
    <app-field
      name="password"
      placeholder="Your password"
      autocomplete="current-password"
      [value]="password"
      redirect="restore"
      redirectText="Forgot password?"
      (onChanged)="setField($event)">
    </app-field>
    <app-remember-me [value]="remember_me" (onValueChanged)="check()"></app-remember-me>
  </div>
  <input id="submit" type="submit" value="Log In" class="form-control">
</form>
