#log_in {
  margin: 2.5vh 25vw;
  padding: 5vh 5vw;
  min-height: 74vh;
  background-color: whitesmoke;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#title {
  font-size: 44px;
  margin-bottom: 10vh;
}

#inputs {
  gap: 2.5vh;
  margin-bottom: 10vh;
}

#inputs div {
  gap: 0.5vh;
  font-size: 20px;
  width: 15vw;
}

label {
  color: var(--bs-danger);
  font-size: 18px;
}

.redirect span {
  color: var(--bs-primary);
  font-size: 16px;
}

.redirect:hover {
  cursor: pointer;
}

#submit {
  font-size: 28px;
  width: 10vw;
  transition: 0.5s;
}

#submit:hover {
  transform: scale(1.25);
  color: var(--bs-primary);
}

@media screen and (max-width: 600px) {
  #log_in {
    margin: 0;
  }

  #title {
    font-size: 32px;
    margin-bottom: 5vh;
  }

  #inputs {
    gap: 2.5vh;
    margin-bottom: 5vh;
  }

  #inputs div {
    font-size: 20px;
    width: 80vw;
  }

  .valid::after, .invalid::after {
    margin-left: calc(80vw - 24px);
    font-size: 20px;
  }

  #submit {
    font-size: 24px;
    width: 60vw;
  }
}
