<header>
  <span class="position-absolute h1">
    Colors
    <app-image src="assets/favicon.png" alt="logo" [style]="{width: '2vw'}" widthSmall="7.5vw"></app-image>
  </span>
  <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
    <path d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z" opacity=".25" class="shape-fill"></path>
    <path d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z" opacity=".5" class="shape-fill"></path>
    <path d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z" class="shape-fill"></path>
  </svg>
</header>
<app-menu route="{{ route }}"></app-menu><!--!-->
<div id="main">
  <div *ngIf="route == ''; then Default else Router"></div>
  <ng-template #Default>
    <div id="home" class="box whitesmoke d-flex justify-content-between align-items-start">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d857.4013075034884!2d28.825180851642184!3d47.03121340769577!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40c97dc9e52da021%3A0x54a13951eece69b0!2sAlexandr%20Pushkin%20Lyceum!5e0!3m2!1sen!2s!4v1676825541542!5m2!1sen!2s" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      <div id="text" class="d-flex flex-column">
        <span id="thanks">Thank you for using our online free service! Hope you've found it useful</span>
        <hr>
        <div id="info">
          Our team has been working really tough to make web designers' life at least some easier. If you like our work, you can always
          <ul>
            <li><a class="underlined" href="https://www.buymeacoffee.com/igrgrosu" target="_blank">Buy us a coffee!</a></li>
            <li><a class="underlined" href="https://www.instagram.com/d3ad_1ns1d3_4u/" target="_blank">Follow us!</a></li>
            <li>
              <ul>
                <li>Phone Us: <a href="tel:79407066">0 (79) 40-70-66</a></li>
                <li>Mail Us: <a href="mailto:igrgro@gmail.com">igrgro@gmail.com</a></li>
              </ul>
            </li>
          </ul>
          <span class="alert">
            «Данный веб-сайт был выполнен в рамках конкурса «Юные послы „Теквилл”», организованного проектом «„Теквилл”» в каждой школе» и не обязательно отражает мнение проекта» - To delete after competition
          </span>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template #Router>
    <router-outlet></router-outlet>
  </ng-template>
</div>
