<div id="picker">
  <div id="picker_header">
    <span id="picker_title">{{ picked_model.name | uppercase }} ({{ picked_model.fullName }}) Picker</span>
    <select id="picker_options" [(ngModel)]="picked_model">
      <option
        class="picker_option"
        [ngValue]="model"
        *ngFor="let model of models">
        {{ model.name }}
      </option>
    </select>
  </div>
  <div id="picker_representer">
    <div
      id="picked_color"
      [ngStyle]="{ 'background-color': representColor() }">
      <button
        id="invert_picked_color"
        (click)="invertColor()"
        [ngStyle]="{ 'color': getInvertedColor() }">invert
      </button>
    </div>
    <div id="picked_color_models">
      <div
        class="picked_color_model {{ picked_model.name == model.name ? 'active' : '' }}"
        *ngFor="let model of getModelsOrder()">
        <div *ngIf="model.name == 'hex'; then Text else Number"></div>
        <ng-template #Text>
          <div
            class="picked_color_field"
            *ngFor="let field of this.picked_color.hex.fields">
            <span class="picker_chooser_label">{{ field.name }}: &nbsp;</span>
            <input
              type="text"
              [(ngModel)]="getField(this.picked_color.hex, field.value).value">
          </div>
        </ng-template>
        <ng-template #Number>
          <div
            class="picked_color_field"
            *ngFor="let field of model.fields">
            <span class="picker_chooser_label">{{ field.name }}: &nbsp;</span>
            <input
              type="number"
              min="{{ getField(model, field.value).min }}"
              max="{{ getField(model, field.value).max }}"
              [(ngModel)]="getField(model, field.value).value">
          </div>
        </ng-template>
      </div>
    </div>
  </div>
  <div id="picker_chooser">
    <div
      class="picker_chooser_model"
      [ngStyle]="{'display': picked_model.name == model.name ? 'flex' : 'none' }"
      *ngFor="let model of picked_color.models">
      <div
        class="picker_chooser_field"
        *ngFor="let field of model.fields">
        <span class="picker_chooser_label">{{ field.name }}: &nbsp;</span>
        <div
          class="picker_chooser_gradient"
          [ngStyle]="{'background': model.getGradient(field.value)}">
        </div>
        <input
        type="range"
        min="{{ getField(model, field.value).min }}"
        max="{{ getField(model, field.value).max }}"
        [(ngModel)]="getField(model, field.value).value">
      </div>
    </div>
  </div>
</div>
