#models_header {
  width: 85vw;
  height: auto;
}

#models_title {
  font-size: 36px;
}

#models_content {
  width: 85vw;
}

.model {
  margin-top: 2vh;
  width: 85vw;
  font-size: 24px;
}

.model-title {
  font-size: 28px;
}

.model:nth-child(even) {
  flex-direction: row-reverse;
  text-align: right;
}

@media screen and (max-width: 600px) {
  #models_header {
    width: 90vw;
  }

  #models_title {
    font-size: 28px;
  }

  #models_content {
    width: 90vw;
  }

  .model-title {
    font-size: 24px;
  }

  .model {
    width: 90vw;
    font-size: 20px;
    margin-top: 3vh;
  }

  .model, .model:nth-child(even) {
    flex-direction: column;
    text-align: left;
  }
}
