<div id="decades">
  <div id="decades_header">
    <div id="decades_title">
      <span>Trends through the decades</span>
      <br>
      <span id="years_link">
        See also: <span routerLink="/trends/years">Trends through years</span>
      </span>
    </div>
    <select id="decades_links" (change)="navigateTo($event);" [(ngModel)]="decade.decade">
      <option
        class="decades_link"
        [ngValue]="decade"
        *ngFor="let decade of decades">
        {{ decade }}
      </option>
    </select>
  </div>
  <div id="decades_content">
    <div id="decade_content" *ngIf="!isMobile">
      <div id="decade_description">
        <div *ngIf="colorsShowed">
          <span>{{ decade.shortDesc }}... <i (click)="this.colorsShowed = false">Read More</i></span><br><br>
          <span>Photos took from
            <a href="https://juiceboxinteractive.com/blog/color/" target="_blank">here</a>.
          </span>
        </div>
        <div *ngIf="!colorsShowed">
          <span>{{ decade.description }}</span><br><br>
          <span>Photos took from
            <a href="https://juiceboxinteractive.com/blog/color/" target="_blank">here</a>.
          </span>
        </div>
      </div>
      <div id="decade_colors">
        <div
          id="arrow"
          [class]="colorsShowed ? 'text-hidden' : 'text-showen'" (click)="this.colorsShowed = true">
        </div>
        <div id="decade_color_container" [class]="colorsShowed ? 'colors-showen' : 'colors-hidden'">
          <div
            class="color"
            (mouseover)="show(i)"
            (mouseout)="hide(i)"
            *ngFor="let color of decade.colors; let i = index">
            <div
              class="color-value"
              [ngStyle]="{
                'color': color.getShade(),
                'background-color': color.hex.toString(),
                'display': colorsShowed ? 'flex' : 'none'
              }">
              <span class="text-hidden">{{ decade.names[i] }}</span>
              <span class="text-hidden">{{ color.hex.toString() }}</span>
            </div>
            <div
              [ngStyle]="{
                'display': colorsShowed ? 'block' : 'none'
              }"
              class="color-shade shade-hidden">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="decade_content" *ngIf="isMobile">
      <div id="decade_description">
        <span>{{ decade.description }}</span><br><br>
        <span>Photos took from
          <a href="https://juiceboxinteractive.com/blog/color/" target="_blank">here</a>.
        </span>
      </div>
      <div id="decade_colors">
        <div
          class="color"
          [ngStyle]="{
            'color': color.getShade(),
            'background-color': color.hex.toString()
          }"
          *ngFor="let color of decade.colors; let i = index">
          <span>{{ decade.names[i] }}</span>
          <span>{{ color.hex.toString() }}</span>
        </div>
      </div>
    </div>
    <app-image src="assets/{{ decade.decade }}_trends.jpg" alt="{{ decade.decade }} trends" [style]="{ width: '30vw'}" widthSmall="90vw"></app-image>
  </div>
</div>
