.field {
  gap: 0.5vh;
  font-size: 20px;
  width: 15vw;
}

.valid::after, .invalid::after {
  position: absolute;
  right: 6px;
  font-size: 24px;
}

.valid::after {
  content: "\2713";
  top: 6px;
  color: var(--bs-green);
}

.invalid::after {
  content: "\2715";
  top: 33px;
  color: var(--bs-red);
}

label {
  color: var(--bs-danger);
  font-size: 18px;
}

.redirect span {
  color: var(--bs-primary);
  font-size: 16px;
}

.redirect:hover {
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .field {
    font-size: 20px;
    width: 80vw;
  }

  .valid::after, .invalid::after {
    margin-left: calc(80vw - 24px);
    font-size: 20px;
  }
}