<form id="sign_in" class="whitesmoke d-flex flex-column justify-content-between align-items-center text-center" (submit)="sendForm($event)">
  <span id="title">Register</span>
  <div id="inputs" class="d-flex flex-column">
    <app-field
      name="name"
      placeholder="Make up a login"
      [value]="name"
      (onChanged)="setField($event)">
    </app-field>
    <app-field
      name="email"
      placeholder="Your email"
      autocomplete="username"
      [value]="email"
      redirect="log_in"
      redirectText="Already have an account?"
      (onChanged)="setField($event)">
    </app-field>
    <app-field
      name="password"
      placeholder="Make up a password"
      autocomplete="new-password"
      [value]="password"
      (onChanged)="setField($event)">
    </app-field>
    <app-field
      name="password2"
      placeholder="Type in your password"
      autocomplete="new-password"
      [value]="password2"
      (onChanged)="setField($event)">
    </app-field>
    <app-remember-me [value]="remember_me" (onValueChanged)="check()"></app-remember-me>
  </div>
  <input id="submit" class="transition" type="submit" value="Sign Up" class="form-control">
</form>
