#equation {
  flex-wrap: wrap;
  width: 65vw;
  border-right: 0.5vw solid black;
  animation: border 9s infinite linear;
}

@keyframes border {
  0% { border-color: #ff0000; }
  33% { border-color: #00ff00; }
  66% { border-color: #0000ff; }
  100% { border-color: #ff0000; }
}

.hex_color, .result {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  width: auto;
  height: auto;
  margin-bottom: 5vh;
}

.color {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 9vh;
  height: 9vh;
  margin-bottom: 1vh;
  border-radius: 50%;
}

.invert_picked_color {
  font-size: 24px;
  background-color: rgba(0, 0, 0, 0);
}

.sign {
  height: 15vh;
  width: 15vh;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0);
  color: black;
  font-size: 15vh;
  line-height: 7vh;
  text-align: center;
}

.mix {
  font-size: 10vh;
  line-height: 9vh;
}

.plus::before {
  content: "+";
}

.minus::before {
  content: "-";
}

.mix::before {
  content: "&";
}

.equals::before {
  content: "=";
}

.hex_color input, .result input {
  font-size: 20px;
  width: 12vh;
}

.result input {
  font-size: 24px;
}

#buttons {
  position: fixed;
  justify-content: flex-end;
  right: 6.5vw;
  padding: 5vh 2.5vw;
  width: 20vw;
}

#choosen_sign {
  justify-content: center;
  margin-bottom: 5vh;
}

#change-sign_buttons {
  justify-content: space-between;
  font-size: 7vh;
  margin-bottom: 15vh;
}

#change-sign_buttons span {
  font-size: 28px;
}

#change-sign_buttons .sign {
  height: 7vh;
  width: 7vh;
  font-size: 7vh;
  line-height: 6vh;
}

#global_buttons {
  width: 15vw;
}

#global_buttons button {
  border-radius: 4%;
  background-color: black;
  border: none;
  color: white;
  text-align: center;
  font-size: 28px;
  width: 6vh;
  height: 6vh;
  cursor: pointer;
  white-space: nowrap;
}

#global_buttons button span {
  display: none;
}

#global_buttons button:hover {
  width: 15vh;
}

#global_buttons button:hover span {
  display: inline-block;
}

#help {
  z-index: 1;
  right: 5.5vw;
  top: 22vh;
  padding: 0.5vw;
  border-radius: 50%;
}

#help:hover {
  background-color: #ccc;
}

@media screen and (max-width: 600px) {
  #equation {
    margin-top: 5vh;
    width: 90vw;
    flex-wrap: nowrap;
    overflow: scroll;
    border: 0;
  }

  #buttons {
    font-size: 24px;
    justify-content: space-around;
    position: relative;
    right: auto;
    padding: 0;
    width: 90vw;
  }

  #sign_buttons {
    width: 90vw;
  }

  #choosen_sign {
    justify-content: space-between;
    margin-bottom: 0;
  }

  #choosen_sign div {
    width: auto;
    line-height: 11vh;
  }

  #change-sign_buttons {
    justify-content: space-between;
    font-size: 24px;
    margin-bottom: 2vh;
  }

  #global_buttons {
    flex-direction: column;
    width: 90vw;
  }

  #global_buttons div {
    justify-content: space-between;
    width: 90vw;
  }

  #global_buttons div button {
    background-color: whitesmoke;
    color: black;
  }
}