<div class="box whitesmoke d-flex justify-content-between">
  <div id="equation" class="d-flex justify-content-start">
    <div
      class="{{ i % 2 == 0 ? 'hex_color' : 'sign ' + getSign(this.equation.signs[(i - 1) / 2]) }}"
      (click)="i % 2 == 0 ? '' : pickedSignId = (i - 1) / 2"
      *ngFor="let element of getRow(); let i = index; trackBy: trackByFn">
      <div *ngIf="i % 2 == 0; then Color else Sign"></div>
      <ng-template #Color>
        <div
          class="color"
          [ngStyle]="{ 'background-color': this.equation.hexs[i / 2] }">
          <button
            class="invert_picked_color border-0 outline-0"
            (click)="invertColor(i / 2)"
            [ngStyle]="{ 'color': getInvertedColor(i / 2) }">invert
          </button>
        </div>
        <input type="text" class="underlined" [(ngModel)]="this.equation.hexs[i / 2]">
      </ng-template>
      <ng-template #Sign></ng-template>
    </div>
    <div class="element sign equals"></div>
    <div class="result">
      <div
        class="color"
        [ngStyle]="{ 'background-color': getResult() }">
      </div>
      <input disabled class="underlined" type="text" value="{{ getResult() }}">
    </div>
  </div>
  <div id="buttons" *ngIf="!isMobile" class="whitesmoke d-flex flex-column align-items-center">
    <div id="sign_buttons" class="d-flex flex-column justify-content-center">
      <div id="choosen_sign" class="d-flex align-items-center">
        <div class="sign {{ getPickedSign() }}"></div>
      </div>
      <div id="change-sign_buttons" class="d-flex align-items-center">
        <div class="sign plus" (click)="changeSign('+')"></div>
        <div class="sign minus" (click)="changeSign('-')"></div>
        <div class="sign mix" (click)="changeSign('&')"></div>
      </div>
    </div>
    <div id="global_buttons" class="d-flex justify-content-around align-items-center p-0">
      <button id="clear_button" class="transition" (click)="clear()">
        <i class="fa fa-trash" aria-hidden="true"></i>
        <span>&nbsp; clear</span>
      </button>
      <button id="add_button" class="transition" (click)="add()">
        <i class="fas fa-plus"></i>
        <span>&nbsp; add</span>
      </button>
      <button id="remove_button" class="transition" (click)="remove()">
        <i class="fas fa-minus"></i>
        <span>&nbsp; remove</span>
      </button>
    </div>
  </div>
  <div id="buttons" *ngIf="isMobile" class="whitesmoke d-flex flex-column align-items-center">
    <div id="sign_buttons" class="d-flex flex-column justify-content-center">
      <div id="choosen_sign" class="d-flex align-items-center">
        <span>Current Sign</span>
        <div class="sign {{ getPickedSign() }}"></div>
      </div>
      <div id="change-sign_buttons" class="d-flex align-items-center">
        <span>Change Sign</span>
        <div>
          <div class="sign plus" (click)="changeSign('+')"></div>
          <div class="sign minus" (click)="changeSign('-')"></div>
          <div class="sign mix" (click)="changeSign('&')"></div>
        </div>
      </div>
    </div>
    <div id="global_buttons" class="whitesmoke d-flex justify-content-around align-items-center p-0">
      <div id="clear_button" class="d-flex">
        <span>clear</span>
        <button (click)="clear()">
          <i class="fa fa-trash" aria-hidden="true"></i>
        </button>
      </div>
      <div id="add_button" class="d-flex">
        <span>add</span>
        <button (click)="add()">
          <i class="fas fa-plus"></i>
        </button>
      </div>
      <div id="remove_button" class="d-flex">
        <span>remove</span>
        <button (click)="remove()">
          <i class="fas fa-minus"></i>
        </button>
      </div>
    </div>
  </div>
  <div
    id="help"
    class="transition position-absolute"
    routerLink="help">
    <i class="fas fa-question"></i>
  </div>
</div>
