#profile_info {
  width: 30vw;
  padding: 2.5vw 5vw 2.5vw 0;
}

#profile_logo {
  width: 15vw;
  padding: 0 2.5vw;
}

#profile_data {
  margin-top: 5vh;
  font-size: 20px;
}

#edit_buttons {
  justify-content: flex-end;
  width: 15vw;
}

#edit_buttons.editing {
  justify-content: space-between !important;
}

input {
  width: 15vw;
}

.submit {
  width: 4vw;
}

.submit:hover {
  transform: scale(1.25);
  color: var(--bs-primary)
}

#profile_content {
  width: 60vw;
  font-size: 32px;
}

#profile_colors {
  width: 60vw;
  font-size: 24px;
}

.category {
  margin-top: 2.5vh;
  width: 60vw;
}

.category-icons {
  font-weight: normal;
  font-size: 18px;
}

.colors {
  margin-top: 0.5vh;
  width: 50vw;
  font-size: 16px;
}

.color {
  width: 5vw;
  height: 5vw;
  padding-top: 2.5vh
}

.color div {
  width: 5vw;
  gap: 0.5vw;
}

#add_category {
  margin-top: 2.5vh;
}

#add_category div {
  padding: 1vh;
  border-radius: 12%;
}

#add_category div:hover {
  background-color: #cccccc;
}

@media screen and (max-width: 600px) {
  #profile {
    margin: 0;
    flex-direction: column;
    align-items: center;
  }

  #profile_info {
    width: 90vw;
    padding: 0;
  }

  #profile_logo {
    width: 90vw;
    padding: 0 2.5vw;
  }

  #profile_data {
    margin-top: 5vh;
    font-size: 24px;
  }

  #edit_buttons {
    margin-top: 3vh;
    width: 90vw;
  }

  input {
    width: 90vw;
  }

  .submit {
    width: 40vw;
  }

  .submit:hover {
    transform: scale(1);
  }

  #profile_content {
    text-align: justify;
    width: 90vw;
    font-size: 24px;
  }

  #profile_colors {
    width: 90vw;
    font-size: 20px;
  }

  .category {
    width: 90vw;
  }

  .colors {
    width: 90vw;
    gap: 5vw;
  }

  .color {
    width: 25vw;
    height: 25vw;
  }

  .color div {
    width: 25vw;
  }
}
