<form id="restore" class="box whitesmoke d-flex flex-column justify-content-between align-items-center text-center" (submit)="sendForm()">
  <div class="d-flex flex-column justify-content-center align-items-center" id="email" *ngIf="step == 1">
    <span id="title">Email</span><br>
    <span id="text">Type in a valid email adress, so we can send you varification code to continue. Consider introducing a valid email adress, which you can access.</span>
    <app-field
      name="email"
      placeholder="Your email"
      autocomplete="username"
      [value]="email"
      (onChanged)="setField($event)">
    </app-field>
  </div>
  <div class="d-flex flex-column justify-content-center align-items-center" id="code" *ngIf="step == 2">
    <span id="title">Code</span><br>
    <span id="text">Type in the code, that you have received in your email address, so we can verify that nobody is trying to hack your account</span>
    <app-field
      name="code"
      placeholder="######"
      [value]="code"
      (onChanged)="setField($event)">
    </app-field>
    <input id="resend" (click)="resendCode()" value="Resend Code" class="form-control">
  </div>
  <div class="d-flex flex-column justify-content-center align-items-center" id="password" *ngIf="step == 3">
    <span id="title">New Password</span><br>
    <span id="text">Make up a new password for your profile</span>
    <app-field
      name="password"
      placeholder="Make up a password"
      autocomplete="new-password"
      [value]="password"
      (onChanged)="setField($event)">
    </app-field>
    <app-field
      name="password2"
      placeholder="Type in your password"
      autocomplete="new-password"
      [value]="password2"
      (onChanged)="setField($event)">
    </app-field>
    <app-remember-me [value]="remember_me" (onValueChanged)="check()"></app-remember-me>
  </div>
  <input id="submit" class="transition" type="submit" value="Submit" class="form-control">
</form>
