#schemes_header {
  width: 85vw;
  height: auto;
}

#schemes_title {
  font-size: 24px;
}

#schemes_options {
  width: 12vw;
  font-size: 24px;
  padding: 1vh 0.25vw;
}

.schemes_option {
  font-size: 20px;
  color: black;
}

#scheme {
  width: 85vw;
  margin-top: 5vh;
}

#scheme_info {
  margin-left: 10vh;
  width: 50vw;
  font-size: 24px;
}

#cursor_values {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: start;
  align-content: center;
}

.cursor-value {
  width: 7.5vw;
  height: 7.5vw;
}

.cursor-value span {
  font-size: 20px;
}

@media screen and (max-width: 600px) {
  #schemes {
    margin: 0;
  }

  #schemes_header {
    flex-direction: column;
    width: 90vw;
  }

  #schemes_title {
    font-size: 24px;
  }

  #schemes_options {
    width: 90vw;
    font-size: 20px;
  }

  #scheme {
    flex-direction: column;
    width: 90vw;
  }

  #canvas_container {
    touch-action: none;
  }

  #scheme_info {
    flex-direction: column-reverse;
    align-items: center;
    margin-left: 0;
    width: 90vw;
  }

  #cursor_values {
    margin: 3vh 0;
  }

  .cursor-value {
    width: 17.5vw;
    height: 17.5vw;
  }

  .cursor-value span {
    font-size: 16px;
  }
}
